<div class="page-nav">
  {{#link-to  back-page }}
      <div class="page-nav__button">
          <span class="page-nav__button-arrow">&lt;</span>
          <img class="page-nav__button-image" src="/images/smash_logo.svg" alt="Smash The Vote Logo">
      </div>
  {{/link-to}}
    <h1 class="page-nav__location-text">{{page-name}}</h1>
</div>
