{{page-nav back-page="why" page-name=model.id}}
<div class="points-of-view">
  {{#link-to "why.topic.remain" classNames="points-of-view__position points-of-view__remain"}}
      <h2 class="points-of-view__text">Remain</h2>
  {{/link-to}}
  {{#link-to "why.topic.leave" classNames="points-of-view__position points-of-view__leave"}}
      <h2 class="points-of-view__text">Leave</h2>
  {{/link-to}}
</div>
